@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,700;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 6vw;
  width: 100%;
  height: 60px;
  background-color: #111;
  top: 0;
  z-index: 10;
}
#nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  /* margin-right: 50px; */
}
#nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
}
#nav-icons {
  display: none;
}

#nav-contact-btn {
  padding: 8px 16px;
  background-color: #0da34e;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

#nav-contact-btn i {
  margin-left: 0.3rem;
  font-size: smaller;
}

#nav-contact-btn:hover {
  background-color: #0bb03b;
  transition: all 0.3s ease-in-out;
}

#nav-bottom {
  height: 0%;
  width: 88%;
  position: absolute;
  bottom: 0%;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0vw 16vw;
  padding-left: 18vw;
  transition: all 0.65s ease-in-out;
}

.bottom-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  opacity: 0;
}

.bottom-div h5 {
  font-size: 0.8vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}

.bottom-div h5 span {
  font-size: 0.7vw;
  font-family: 500;
}

nav:hover #nav-bottom {
  height: 100px;
  bottom: -100px;
  background-color: #111;
  transition: all 0.65s ease-in-out;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page1 h1 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 900;
}

#page1 h1 span {
  background-color: #0da34e;
  border-radius: 50%;
  font-size: 3.8rem;
  position: relative;
  top: -8px;
}

#page1 h1 i {
  font-size: 2rem;
  position: relative;
  top: -12px;
}

#page1 p {
  text-align: center;
  font-weight: 400;
  font-size: small;
  margin-top: 2vw;
}

.page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.page1-something h4 {
  font-size: x-small;
  text-transform: lowercase;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.page1-something h4:nth-child(3) {
  border: none;
  margin: 2px;
}
.page1-something h4 #page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
